@charset "utf-8";

.adbanner {
    background-color: transparent;
    height: 1px;
    width: 1px;
  }
  .adsbanner_message{
    display: none;
    margin-bottom: 20px;
    padding: 10px 10px;
    background: #f0f0f0;
    text-align: center;
    font-size:0.9em;
    line-height:1.1em;
    color: #666;
  }
  