@charset "utf-8";

.adbanner {
    height: 50px;
    width: 50px;
    display: inline-block;
    background: red;
  }
  .adsbanner_message{
    display: none;
    margin-bottom: 20px;
    padding: 10px 10px;
    background: #f0f0f0;
    text-align: center;
    font-size:0.9em;
    line-height:1.1em;
    color: #666;
  }
  